/* fonts section start */

/* fonts section end */

/* body section start */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-family: var(--fontfamily-roboto);
}

/* body section end */

* {
  -webkit-font-smoothing: antialiased;
}

:root {
  --background-color1: rgb(100, 0, 0);
  --textcolor: black;
}

/* -------------------------------------------------- LOGIN SECTION START -------------------------------------------------- */

/* navbar section start */

header {
  top: 0;
  left: 0;
  height: 110px;
  z-index: 1;
}

.logonavbar1 {
  display: flex;
  justify-content: center;
}

.container1 {
  display: flex;
  list-style-type: none;
  padding: 20px 0;
  justify-content: center;
}

li a:hover {
  background: #dfaf68;
  transition: all 0.5s;
}

#buttom-login-navbar {
  color: #dfaf68;
}

#buttom-login-navbar:hover {
  color: white;
}

.navbar-login {
  padding: 20px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  letter-spacing: 0.1em;
}

.navbar-login img {
  height: 70px;
}

.navbar-login li a {
  color: white;
  padding: 15px;
  border-radius: 5%;
}

/* navbar section end */

/* form section start */

section {
  height: 100%;
}

.sectionlogin {
  height: calc(100%-12%);
}

.sectionform {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textcolor);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sectionform h1 {
  display: flex;
  justify-content: center;
}

.sectionform p {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  color: #5f5c5c;
}
.sectionform form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.sectionform input {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 12px 14px;
}

/* botao login section start */

.buttonform {
  height: 100%;
  padding: 12px 14px;
  background: linear-gradient(90deg, #dfaf68 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.5s, background-position 0.5s;
}

.buttonform:hover {
  background-position: left bottom;
  color: black;
}

.button-password {
  position: absolute;
  display: flex;
  justify-content: end;
  color: rgb(141, 141, 141);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* botao login section end */

.input-container p {
  display: flex;
  justify-content: end;
}

.button-password:hover {
  color: #dfaf68;
  transition: color 0.5s;
}

.subtextcontainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.createone {
  color: #dfaf68;
}

.createone:hover {
  color: #c77903;
  transition: color 0.5s;
}
/* -------------------------------------------------- LOGIN SECTION END -------------------------------------------------- */

/* -------------------------------------------------- CADASTRO SECTION START -------------------------------------------------- */

.section-cadastro {
  border: 1px solid red;
}

.container1-cadastro {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.form-cadastro {
  height: 700px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-cadastro label {
  display: flex;
}

.input {
  width: 100%;
  border: none;
  padding: 12px 14px;
  border: 1px solid #e7e7e7;
}

.form-cadastro p {
  width: 100%;
  display: flex;
}

.datadenascimento input {
  display: flex;
  border: none;
  color: #8b8989;
  padding: 10px 110px;
  text-decoration: none;
}

.datadenascimento {
  display: flex;
  border: 1px solid #e7e7e7;
  align-items: center;
  color: #6d6c6c;
  width: 100%;
  max-height: 40px;
}
.datadenascimento p {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
  gap: 20px;
}
.gender-cadastro {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid #e7e7e7;
  height: 40px;
  margin-top: 20px;
}

.gender-cadastro label {
  display: flex;
  align-items: center;
  border: none;
  gap: 90px;
}

.gender-cadastro select {
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 110px;
  color: #8b8989;
}

.gender-cadastro p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-left: 15px;
  color: #7c7d7d;
}

.buttonformcadastro {
  width: 100%;
  padding: 12px 14px;
  background: linear-gradient(90deg, #dfaf68 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.5s, background-position 0.5s;
}

.buttonformcadastro:hover {
  background-position: left bottom;
  color: black;
}

/* -------------------------------------------------- CADASTRO SECTION END -------------------------------------------------- */
